{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Detalhes do Sensor</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    
    {% block conteudo %}
    <style>
        body{
            font-size: 30pt;
        }
        input{
            font-size: 30pt;
        }
        button{
            font-size: 30pt;
        }
    </style>
    <section style="padding-left: 500px;">
        <fieldset style="width: 200px;">
            <button>
                <a href="{% url 'swenergy:editar' sensor.id %}">Editar</a>
            </button>
        </fieldset>
        <fieldset style="width: 400px;">
        <h2>{{sensor.titulo}}</h2>
        
        {% for fase in sensor.fase_set.all %}
        <h3>Fase {{fase}}</h3> 
        {% endfor %}

        Consumos diarios:
        {% for consumo in sensor.consumo_set.all %}
        <h3>Data: {{consumo.data}} - Consumo total: {{consumo.total}}</h3>
        {% endfor %}
        </fieldset>
    </section>
    {% endblock %}
    
</body>
</html>