{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Detalhes do Sensor</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    
    {% block conteudo %}
    <section style="padding: 5% 2%;" >
            <div class="card w-75" style="padding: 2%">
                <div class="card-body">
                    <div class="d-flex ">
                        <h2 class="card-title">{{sensor.titulo}}</h2>
                        <a href="{% url 'swenergy:editar' sensor.id %}" class="btn btn-primary" style="margin-left: 5%; padding: 8=7px 10px 8px 8px; height: 40px;">
                            Editar
                        </a> 
                    </div>
                        <hr>
                        <div class="d-flex" style="padding: 5%;">
                            
                            <div>                                
                                {% for fase in sensor.fase_set.all %}
                                <h3>Fase {{fase}}</h3>
                                <ul>            
                                    <li>Potência ativa: {{fase.p}}</li>
                                    <li>Potência reativa: {{fase.q}}</li>
                                    <li>Potência aparente: {{fase.s}}</li>
                                    <li>Tensão: {{fase.urms}}</li>
                                    <li>Corrente: {{fase.itrms}}</li>
                                    <li>Fator de potência: {{fase.pf}}</li>
                                    <li>Ângulo entre a tensão e corrente: {{fase.pg}}</li>
                                    <li>Consumo de energia ativa: {{fase.ep}}</li>
                                    <li>Consumo de energia reativa: {{fase.eq}}</li>
                                </ul><br>
                                {% endfor %}
                            </div>
                            
        
                            <div style="margin-left:10%;">
                                
                            </div>
        
                        </div>                                   
                </div>
            </div>
           
        <fieldset style="margin-top: 30px;">

            <div>
                
                <div style="display: flex; padding: 10%;">
                    <div>    
                        <h3> Consumos diários:</h3>
                        <br>
                        
                        {% for consumo in consumos_diarios %}
                        
                        <div class="card border-info mb-3" style="max-width: 18rem; margin: 20px;">
        
                            <div class="card-header">
                                <strong>Data:</strong> {{consumo.data}}                    
                            </div>
        
                            <div class="card-body text-info">
                            <h5 class="card-title"><strong>Consumo total:</strong> {{consumo.total}}</h5>                      
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                        
                    <div style="margin-left: 20%;">
                        <h3>Consumos Mensais:</h3>
                        <br>
                        {% for consumo in consumos_mensais %}
                        <div class="card border-warning mb-3" style="max-width: 18rem; margin: 20px;">
                            <div class="card-header">
                                <strong>Data:</strong>{{consumo.data}} <br>
                            </div>
                            <div class="card-body text-warning">
                            <h5 class="card-title">
                                <strong>Consumo total:</strong> {{consumo.total}}<br>
                                <strong>Média: </strong>        {{consumo.media}}<br>
                            </h5>                      
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>      
            </div>

           
            
        </fieldset>
    </section>
    {% endblock %}
    
</body>
</html>