{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Detalhes do Edifício</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    
    {% block conteudo %}
    
    <section style="padding: 50px 500px;">
        <fieldset style="width: 50%;">
            <button>
                <a href="{% url 'swenergy:editar' predio.id %}">Editar</a>
            </button>
        </fieldset>
        <fieldset style="width: 60%;">
        <h2>{{predio.titulo}}</h2>
        
        {% for sensor in predio.sensor_set.all %}
        <h3>Sensor: <a href="{% url 'swenergy:detalhes' sensor.id%}">{{sensor}}</a> </h3>
        <hr>
        
        Consumo do Mês:
        <br><br>
        {% for consumo in sensor.consumo_set.all %}
        <strong>Data:</strong> {{consumo.data}} <br><strong>Consumo total:</strong> {{consumo.total}}<br><br>
        {% endfor %}

        {% endfor %}
        </fieldset>
    </section>  
    {% endblock %}
    
</body>
</html>