{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Detalhes do Edifício</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    
    {% block conteudo %}
    
    <section style="padding: 5% 2%;">
        <div class="card w-75" style="padding: 2%">
            <div class="card-body">
              <h2 class="card-title">{{predio.nome}}</h2>
              <hr>
                <div class="d-flex" style="padding: 5%;">
                    
                    <div>
                        <h5 class="card-title">Dados gerais</h5>
                        <p class="card-text" >
                            <span>Meta: {{predio.meta}}             </span><br>
                            <span>População: {{predio.populacao}}   </span><br>
                            <span>Pavimentos: {{predio.pavimentos}} </span><br>
                            <span>Pot. Inst.: {{predio.PotInst}}    </span><br>
                            <span>Geração F.V.: {{predio.geracaoFV}}</span><br>
                            <span>Idade: {{predio.idade}}           </span><br>
                            <span>Trafifa Energética: {{predio.tarifaFP}}</span><br>
                        </p>
                    </div>
                    

                    <div style="margin-left:10%;">
                        <h5 class="card-title">Nível de eficiência-RTQ-C</h5><br>
                        <ul>
                            <li class="d-flex justify-content-between align-items-center">Sistema <span class="badge badge-primary ">Nota</span></li>
                            <li class="d-flex justify-content-between align-items-center">Iluminação
                            {% if predio.Iluminacao == "A" %}
                            <span class="badge badge-success ">{{predio.Iluminacao}}</span></li>
                            {% elif predio.Iluminacao == "B" %}
                            <span class="badge badge-warning ">{{predio.Iluminacao}}</span></li>
                            {% else %}
                            <span class="badge badge-danger ">{{predio.Iluminacao}}</span></li>
                            {% endif %}

                            <li class="d-flex justify-content-between align-items-center">Condicion. de ar 
                            {% if predio.CondAr == "A" %}
                            <span class="badge badge-success ">{{predio.CondAr}}</span></li>
                            {% elif predio.CondAr == "B" %}
                            <span class="badge badge-warning ">{{predio.CondAr}}</span></li>
                            {% else %}
                            <span class="badge badge-danger ">{{predio.CondAr}}</span></li>
                            {% endif %}         

                            <li class="d-flex justify-content-between align-items-center">Envoltória
                            {% if predio.envoltoria == "A" %}
                            <span class="badge badge-success ">{{predio.envoltoria}}</span></li>
                            {% elif predio.envoltoria == "B" %}
                            <span class="badge badge-warning ">{{predio.envoltoria}}</span></li>
                            {% else %}
                            <span class="badge badge-danger ">{{predio.envoltoria}}</span></li>
                            {% endif %}
                            </li>
                        </ul>
                    </div>

              </div>
              <a href="{% url 'swenergy:editarPredio' predio.id %}" class="btn btn-primary" style="margin-left: 5%;">Editar Dados</a>
              <a href="{% url 'swenergy:eficiencia' predio.id %}" class="btn btn-primary" style="margin-left: 10%;">Editar Notas</a>
            </div>
          </div>
        
        <fieldset style="margin-top: 30px;">
            
            <h3>Sensores:</h3>                 
            
            <div style="margin: 20px;">
                {% for sensor in predio.sensor_set.all %}
                <div class="d-flex">
                    <h4><a href="{% url 'swenergy:detalhes' sensor.id%}">{{sensor}}</a></h4>                    
                </div>
                
                {% endfor %}
                <hr>
            </div>    
              
        </fieldset>
    </section>  
    {% endblock %}
    
</body>
</html>