<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Formulário Sensor</title>
</head>
<body>
    <style>
        input{
            font-size: 30pt;
        }
        button{
            font-size: 30pt;
        }
    </style>

    <fieldset style="padding: 50px 50px 450px 80px;">

        <button>
            <a href="{% url 'swenergy:detalhes' sensor.id %}">
                Voltar/Cancelar
            </a>
        </button>
    <header style="padding-left: 600px; font-size:30pt;">
        <h2>Edição de sensor</h2>
    </header>
    <section style="padding-left: 600px;">
        <fieldset style="width: 500px; padding: 10px 10px 10px 10px; font-size:30pt;">
            <form action="" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{sensor.id}}">
                <span>ID: {{sensor.id}}</span><br>
                <label for="titulo">Nome do sensor:</label><br>
                <input type="text" name="titulo" id="titulo" value="{{sensor.titulo}}">

                <!--
                <label> h-m-s</label>
                <label>Potência ativa total</label>
                <label>Potência reativa total</label>
                <label>Potência aparente total </label>
                <label>Corrente total</label>
                <label>Fator de potência total</label>
                <label>Frequência</label>
                <label>Consumo de energia ativa total</label>
                <label>Consumo de energia reativa total</label>
                <label>Ângulo entre Tensão Fase A e Fase B</label>
                <label>Ângulo entre Tensão Fase B e Fase C</label>
                <label>Ângulo entre Tensão Fase B e Fase C</label>
                <label>Temperatura</label>

                <input type="number" name="time">
                <input type="number" name="pt">
                <input type="number" name="qt">
                <input type="number" name="st">
                <input type="number" name="itrms">
                <input type="number" name="pft">
                <input type="number" name="freq">
                <input type="number" name="ept">
                <input type="number" name="eqt">
                <input type="number" name="yuaub">
                <input type="number" name="yuauc">
                <input type="number" name="yubuc">
                <input type="number" name="tpsd">
            -->
                <br>
                <br>
                <input type="submit" value="Salvar modificações">
            </form>
        </fieldset>
    </section>
    </fieldset>
    <footer> &#xa9; SWEnergy</footer>
</body>
</html>