{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>SW Energy</title>
    <script type="text/javascript" src="https://jscharting.com/JSC15/JSCharting.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!--
    <script type="text/javascript" src="/JSC/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/JSC/JSCharting.js"></script>
    -->
</head>
<body>
    {% if msg %}
    {{msg}}
    {% endif %}
    <h1>Tela Inicial</h1>

    <div id="chartDiv" style="width: 540px; height: 325px">Gráfico</div>

    <label>Sensores:</label>
    <ul>
        {% for sensor in sensores %}
        <li><a href="{% url 'swenergy:detalhes' sensor.id%}">{{sensor.titulo}} - ID: {{sensor.id}}</a></li>
        {% endfor %}
    </ul>
    <section>
        Data:
        <p>{{data}}</p>
        JSON:
        <p>{{json}}</p>
        Sessão:
        <p>{{session}}</p>
        Args:
        <p>{{args}}</p>
        Kwargs:
        <p>{{kwargs}}</p>

        <br>

        Atributos:
        <ul>
            <li>pt: {{pt}}</li>
        </ul>>
     
    </section>
    <!--
    <form>
        {% csrf_token %}
        <input type="submit" value="enviar">
    </form>
    -->
</body>
<script>
    $('#chartDiv').JSC({
    targetElement: 'cc',
    height:320,
    defaultSeriesType: 'column',

    yAxisLabelText: 'Units Sold',
    xAxisLabelText: 'Quarters',
    titleLabelText: 'Acme Tool Sales Total: %sum Best Seller: %maxSeriesName',
    defaultSeriesLegendEntryText: '%name  %sum' ,
    defaultSeries:{legendEntry:{text:'%name  %sum'}},
    series: [
    {
    name: 'Saw',

    points: [
        { name: 'Q1', y: 230  },
        { name: 'Q2', y: 240  },
        { name: 'Q3', y: 267  },
        { name: 'Q4', y: 238  }
    ]
    },
    {
    name: 'Hammer',

    points: [
        { name: 'Q1', y: 325  },
        { name: 'Q2', y: 367  },
        { name: 'Q3', y: 382  },
        { name: 'Q4', y: 371  }
    ]
    },
    {
    name: 'Grinder',

    points: [
        { name: 'Q1', y: 285  },
        { name: 'Q2', y: 292  },
        { name: 'Q3', y: 267  },
        { name: 'Q4', y: 218  }
    ]
    },
    {
    name: 'Drill',

    points: [
        { name: 'Q1', y: 185  },
        { name: 'Q2', y: 192  },
        { name: 'Q3', y: 198  },
        { name: 'Q4', y: 248  }
    ]
    }
    ]
    });
</script>
</html>