{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta charset="UTF-8">
    <title>SW - Energy</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <!--https://getbootstrap.com/docs/4.0/components/forms/-->
  {% endblock %}
  {% block scripts %} 

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          {% for sensor in predio.sensor_set.all %}
          var data = google.visualization.arrayToDataTable([
            ["Data", "KWh", { role: "style" } ],            
            {%for consumo in consumos_diarios %}
              {% if consumo.sensor.id == sensor.id %}
                ['{{consumo.data.day}}/{{consumo.data.month}}', {{ consumo.total }}, "#ffd700"],
              {% endif %}
            {% endfor %}
          ]);
    
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);
    
          var options = {
            title: "Gráfico consumo diário - {{sensor}}",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("{{sensor}}_diarios"));
          chart.draw(view, options);
          {% endfor %}
          {% for sensor in predio.sensor_set.all %}
          var data = google.visualization.arrayToDataTable([
            ["Data", "KWh", { role: "style" } ],
            {%for consumo in consumos_mensais %}
              {% if consumo.sensor.id == sensor.id %}
                ['{{consumo.data}}', {{ consumo.total }}, "#ffd700"],
              {% endif %}
            {% endfor %}
          ]);
    
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);
    
          var options = {
            title: "Gráfico consumo mensal - {{sensor}}",
            width: 600,
            height: 400,
            bar: {groupWidth: "95%"},
            legend: { position: "none" },
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("{{sensor}}_mensais"));
          chart.draw(view, options);
          {% endfor %}
      }
    </script>


    {% endblock %}
</head>
{% block conteudo %}
<body>
    <script type="text/javascript" src="https://jscharting.com/JSC15/JSCharting.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <div>
      <div style="display: flex; margin: 30px 80px; min-height: 700px;">
        <div class="card">
          <img class="card-img-top" src={% static "swenergy/img/nit.png" %} alt="Card image cap" min-height="340px">
          <div class="card-body" style="display: flex;">
            <section>
              <h5 class="card-title">Perfil da Edificação</h5>
              <ul>
                <li class="card-text">Área útil(m2): {{predio.area}} </li>
                <li class="card-text">População:  {{predio.populacao}}    </li>
                <li class="card-text">Pavimentos: {{predio.pavimentos}}          </li>
                <li class="card-text">POT. INST.(kw): {{predio.PotInst}}      </li>
                <li class="card-text">Geração FV: 
                  {% if predio.geracaoFV == True %}
                    Sim
                  {% else %}
                    Não
                  {% endif %}
                </li>
                <li class="card-text">Idade(data):   {{predio.idade}}    </li>
              </ul>
            </section>
            <section style="margin-left: 100px;">
              <h5 class="card-title">Nível de eficiência-RTQ-C</h5>
              <ul>
                <li class="d-flex justify-content-between align-items-center">Sistema <span class="badge badge-primary ">Nota</span></li>
                <li class="d-flex justify-content-between align-items-center">Iluminação
                  {% if predio.Iluminacao == "A" %}
                  <span class="badge badge-success ">{{predio.Iluminacao}}</span></li>
                  {% elif predio.Iluminacao == "B" %}
                  <span class="badge badge-warning ">{{predio.Iluminacao}}</span></li>
                  {% else %}
                  <span class="badge badge-danger ">{{predio.Iluminacao}}</span></li>
                  {% endif %}

                <li class="d-flex justify-content-between align-items-center">Condicion. de ar 
                  {% if predio.CondAr == "A" %}
                  <span class="badge badge-success ">{{predio.CondAr}}</span></li>
                  {% elif predio.CondAr == "B" %}
                  <span class="badge badge-warning ">{{predio.CondAr}}</span></li>
                  {% else %}
                  <span class="badge badge-danger ">{{predio.CondAr}}</span></li>
                  {% endif %}         

                <li class="d-flex justify-content-between align-items-center">Envoltória
                  {% if predio.envoltoria == "A" %}
                  <span class="badge badge-success ">{{predio.envoltoria}}</span></li>
                  {% elif predio.envoltoria == "B" %}
                  <span class="badge badge-warning ">{{predio.envoltoria}}</span></li>
                  {% else %}
                  <span class="badge badge-danger ">{{predio.envoltoria}}</span></li>
                  {% endif %}
                </li>
              </ul>
            </section>
          </div>
          <div style="display: flex; margin: 10%;">
            <div>
              <a href="{% url 'swenergy:contas' predio.id %}">Contas de Energia</a>
              <br>
              <a href="#">Avaliação Energética</a>
            </div><br>

            <div style="margin-left: 10%;">
              <a href="{% url 'swenergy:cadastro' %}">Cadastrar usuário</a>
              <br>
              <a href="#">Banco de dados</a>
            </div>
           
          </div>  
        </div>

        
        <div class="card border-dark mb-3" style=" margin: 5px 70px; height: 80%; min-width: 30%; overflow: scroll;">
          <div class="card-header" style="position: -webkit-sticky; position: sticky;">Indicadores:</div>
          <div class="card-body text-dark">
            <ul class="list-group">
              <li class="list-group-item disabled">Consumo</li>
              <li class="list-group-item">{{consumo_mes}} Kwh/mês</li>
              <li class="list-group-item">{{consumo_area}} Kwh/m2</li>
              <li class="list-group-item">{{consumo_pessoa}} Kwh/pessoa</li>
            </ul><br>
            <ul class="list-group">
              <li class="list-group-item disabled">Ambiental</li>
              <li class="list-group-item">Emissão:</li>
              <li class="list-group-item">Compensação:</li>
            </ul><br>
            <ul class="list-group">
              <li class="list-group-item disabled">Econômico</li>
              <li class="list-group-item">{{consumo_mes}} R$/mês</li>
              <li class="list-group-item">{{consumo_mes}} R$/pessoa</li>
            </ul>
          </div>
        </div>
        
        
      </div>      

    </div>


    <div class="card border-dark mb-3" style="max-width: 30rem; margin: 5% 10%;">
      <div class="card-header list-group-item d-flex justify-content-between align-items-center" style="display: flex;">Sensores: 
        <a class="btn btn-outline-primary" href=" {% url 'swenergy:addSensor' predio.id %}" style="font-size: 80%;">Novo sensor</a>
      </div>
      <div class="card-body text-dark">
        <ul class="list-group">
          {% for sensor in predio.sensor_set.all %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url 'swenergy:detalhes' sensor.id %}">{{sensor.titulo}} - ID: {{sensor.id}}</a>
              <a class="badge badge-primary badge-pill" href=" {% url 'swenergy:niveis' sensor.id %}">  Níveis de energia</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    
    <div class="card border-warning mb-3" style="margin-top: 50px;">
      <div class="card-header">Consumo diário por sensor:</div>
      <div class="card-body text-warning">
        <fieldset>
          {% for sensor in predio.sensor_set.all %}
          <div id="{{sensor}}_diarios" style="min-width: 900px; min-height: 300px;"></div>
          <div id="{{sensor}}_mensais" style="min-width: 900px; min-height: 300px;"></div>
          {% endfor %}
          </fieldset>
      </div>
      </div>   

      <form method=”GET”>

        <div class=”input-group-prepend”>     
          <select  name="filtro">
            <option type="text" name="mes" id="mes" value="1">Janeiro</option>
            <option type="text" name="mes" id="mes" value="2">2   </option>
            <option type="text" name="mes" id="mes" value="3">3   </option>
            <option type="text" name="mes" id="mes" value="4">4   </option>
            <option type="text" name="mes" id="mes" value="5">5   </option>
            <option type="text" name="mes" id="mes" value="6">6   </option>
            <option type="text" name="mes" id="mes" value="7">7   </option>
            <option type="text" name="mes" id="mes" value="8">8   </option>
            <option type="text" name="mes" id="mes" value="9">9   </option>
            <option type="text" name="mes" id="mes" value="10">10  </option>
            <option type="text" name="mes" id="mes" value="11">11  </option>
            <option type="text" name="mes" id="mes" value="12">12  </option>
          </select>
          <button class="bnt" type=”submit” id="button-addon1">filtrar</button>
        </div>
      </form>
      <ul>
      {% for sensor in predio.sensor_set.all %}
      
        {%for consumo in consumos_diarios %}
          {% if consumo.sensor.id == sensor.id %}
          <li>{{consumo.data}}</li>
          {%endif%}
        {%endfor%}
      {% endfor%}
    </ul>
</body>    
{% endblock %}
</html>