{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
</head>
{% block main-menu %}
        
{% endblock %}
{% block conteudo %}
<body style="color: aliceblue; background-color: rgb(132, 132, 132);">
    

    {% if form.errors %}
    {% for error in form.erros %}
        {{ error }}
    {% endfor %}
    {% endif %}

    <section style="margin: 5% 40%; background-color: rgb(129, 164, 228); padding: 20px; border-radius: 5px;">
        <h2>Faça o seu Login</h2>
        <hr>
        <fieldset style="margin: 3px 40px;">

            <form id="contact" action="{% url 'swenergy:login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <input type="hidden" name="next" value="{{ next }}"/>      
                <fieldset style="border-radius: 10px">
                Digite o seu login:<br> {{ form.username }}
                </fieldset>  
            </div>
            <div class="form-group">
                <fieldset style="border-radius: 10px">
                Digite a sua senha:<br> {{ form.password }}
                </fieldset>
            </div>
                <fieldset style="margin: 3px 30px;">
                    <input style="border-radius: 10px" type="submit" id="form-submit" class="button" value="Realizar Login"/>
                </fieldset>
            </form>
        </fieldset>
        <p style="margin: 5px 50px;">Não possui cadastro?<br> <a href="{% url 'swenergy:cadastro' %}"> Cadastre-se!</a></p>
    </div>
    </section>

</body>
{% endblock %}
</html>