{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <h1>Níveis de energia</h1>
        <!--<meta http-equiv="refresh" content="5; {% url 'swenergy:niveis' sensor.id %}">-->
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            var request = new XMLHttpRequest();

            request.open('GET', `/api/data/sensor/{{sensor.id}}`);

            request.responseType = 'json';
            var pt    = 0;
            var qt    = 0;
            var st    = 0;
            var itrms = 0;
            var pft   = 0;
            var freq  = 0;
            var ept   = 0;
            var eqt   = 0;
            var yuaub = 0;
            var yuauc = 0;
            var yubuc = 0;
            var tpsd  = 0;

            request.send();
            request.onload = function(){
            var data = JSON.stringify(request.response);
            var dataJSON = request.response;
            console.log(dataJSON); 
            dataJSON.map((sensor1)=>{
                pt    = sensor1.pt;
                qt    = sensor1.qt;
                st    = sensor1.st;
                itrms = sensor1.itrms;
                pft   = sensor1.pft;
                freq  = sensor1.freq;
                ept   = sensor1.ept;
                eqt   = sensor1.eqt;
                yuaub = sensor1.yuaub;
                yuauc = sensor1.yuauc;
                yubuc = sensor1.yubuc;
                tpsd  = sensor1.tpsd;

            });
            }

            var requestFase = new XMLHttpRequest();

            requestFase.open('GET', `/api/data/fase/{{sensor.id}}`);

            requestFase.responseType = 'json';
            var pa    =0;            
            var qa    =0;
            var sa    =0;
            var urmsa =0;
            var itrmsa=0;
            var pfa   =0;
            var pga   =0;
            var epa   =0;
            var eqa   =0;

            var pb    =0;
            var qb    =0;
            var sb    =0;
            var urmsb =0;
            var itrmsb=0;
            var pfb   =0;
            var pgb   =0;
            var epb   =0;
            var eqb   =0;

            var pc    =0;
            var qc    =0;
            var sc    =0;
            var urmsc =0;
            var itrmsc=0;
            var pfc   =0;
            var pgc   =0;
            var epc   =0;
            var eqc   =0;
          

            requestFase.send();
            requestFase.onload = function(){
            var data = JSON.stringify(requestFase.response);
            var dataJSON = requestFase.response;
            console.log("DaraJSON: "+dataJSON); 
            dataJSON.map((fase)=>{
                if(fase.tipo=="A"){
                    pa    = fase.p;
                    qa    = fase.q;
                    sa    = fase.s;
                    urmsa = fase.urms;
                    itrmsa= fase.itrms;
                    pfa   = fase.pf;
                    pga   = fase.pg;
                    epa   = fase.ep;
                    eqa   = fase.eq;
                }
                else if(fase.tipo=="B"){
                    pb    = fase.p;                    
                    qb    = fase.q;
                    sb    = fase.s;
                    urmsb = fase.urms;
                    itrmsb= fase.itrms;
                    pfb   = fase.pf;
                    pgb   = fase.pg;
                    epb   = fase.ep;
                    eqb   = fase.eq;
                }
                else if(fase.tipo=="C"){
                    pc    = fase.p;                    
                    qc    = fase.q;
                    sc    = fase.s;
                    urmsc = fase.urms;
                    itrmsc= fase.itrms;
                    pfc   = fase.pf;
                    pgc   = fase.pg;
                    epc   = fase.ep;
                    eqc   = fase.eq;
                }
                
            });
            }
                        
                   
            setInterval(function(){
                var request = new XMLHttpRequest();

                request.open('GET', `/api/data/sensor/{{sensor.id}}`);

                request.responseType = 'json';

                request.send();
                request.onload = function(){
                var data = JSON.stringify(request.response);
                var dataJSON = request.response;
                console.log("DataJSON Sensor: "+dataJSON); 
                dataJSON.map((sensor1)=>{
                    pt = sensor1.pt;
                    qt    = sensor1.qt;
                    st    = sensor1.st;
                    itrms = sensor1.itrms;
                    pft   = sensor1.pft;
                    freq  = sensor1.freq;
                    ept   = sensor1.ept;
                    eqt   = sensor1.eqt;
                    yuaub = sensor1.yuaub;
                    yuauc = sensor1.yuauc;
                    yubuc = sensor1.yubuc;
                    tpsd  = sensor1.tpsd;
                    console.log("Sensor: "+sensor1)
                });
                }
                
            }, 3000);

            setInterval(function(){
                var request = new XMLHttpRequest();

                requestFase.open('GET', `/api/data/fase/{{sensor.id}}`);

                requestFase.responseType = 'json';

                requestFase.send();
                requestFase.onload = function(){
                var data = JSON.stringify(requestFase.response);
                var dataJSON = requestFase.response;
                console.log(dataJSON); 
                dataJSON.map((fase)=>{
                  console.log("Fase: "+fase)
                  if(fase.tipo=="A"){
                    console.log("Fase A pa: "+fase.p)
                    pa    = fase.p;
                    qa    = fase.q;
                    sa    = fase.s;
                    urmsa = fase.urms;
                    itrmsa= fase.itrms;
                    pfa   = fase.pf;
                    pga   = fase.pg;
                    epa   = fase.ep;
                    eqa   = fase.eq;
                }
                else if(fase.tipo=="B"){
                    pb    = fase.p;                    
                    qb    = fase.q;
                    sb    = fase.s;
                    urmsb = fase.urms;
                    itrmsb= fase.itrms;
                    pfb   = fase.pf;
                    pgb   = fase.pg;
                    epb   = fase.ep;
                    eqb   = fase.eq;
                }
                else if(fase.tipo=="C"){
                    pc    = fase.p;                    
                    qc    = fase.q;
                    sc    = fase.s;
                    urmsc = fase.urms;
                    itrmsc= fase.itrms;
                    pfc   = fase.pf;
                    pgc   = fase.pg;
                    epc   = fase.ep;
                    eqc   = fase.eq;
                }
                });
                }
                
            }, 3000);

          google.charts.load('current', {'packages':['gauge']});
          google.charts.setOnLoadCallback(drawChart);

           function drawChart() {
          
             var data = google.visualization.arrayToDataTable([
               ['Label', 'Value'],
               ['pt',       pt ],
               ['qt',       qt ],
               ['st',       st ],
               ['itrms',    itrms ],
               ['pft',      pft ],
               ['freq',     freq ],
               ['ept',      ept ],
               ['eqt',      eqt ],
               ['yuaub',    yuaub ],
               ['yuauc',    yuauc ],
               ['yubuc',    yubuc ],
               ['tpsd',     tpsd] 
             ]);
     
             var options = {
               width: 800, height: 240,
               redFrom: 90, redTo: 100,
               yellowFrom:75, yellowTo: 90,
               minorTicks: 5
             };
     
             var chart = new google.visualization.Gauge(document.getElementById('chart_div'));
     
             chart.draw(data, options);

             setInterval(function() {
               data.setValue(0, 1, pt);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(1, 1, qt);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(2, 1, st);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(3, 1, itrms);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(4, 1, pft);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(5, 1, freq);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(6, 1, ept);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(7, 1, eqt);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(8, 1, yuaub);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(9, 1, yuauc);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(10, 1, yubuc);
               chart.draw(data, options);
             }, 3000);
             setInterval(function() {
               data.setValue(11, 1, tpsd);
               chart.draw(data, options);
             }, 3000);
            
            
             var dataA = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['p',     pa ],
              ['q',     qa ],
              ['s',     sa ],
              ['urms',  urmsa],
              ['itrms', itrmsa],
              ['pf',    pfa ],
              ['pg',    pga ],
              ['eq',    eqa ]                       
            ]);

            var optionsA = {
              width: 800, height: 240,
              redFrom: 90, redTo: 100,
              yellowFrom:75, yellowTo: 90,
              minorTicks: 5
            };

            var chartA = new google.visualization.Gauge(document.getElementById('chart_div_FA'));

            chartA.draw(dataA, optionsA);

            

            setInterval(function() {
               dataA.setValue(0, 1, pa);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(1, 1, qa);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(2, 1, sa);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(3, 1, urmsa);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(4, 1, itrmsa);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(5, 1, pfa);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(6, 1, pga);
               chartA.draw(dataA, optionsA);
             }, 3000);
            setInterval(function() {
               dataA.setValue(7, 1, eqa);
               chartA.draw(dataA, optionsA);
             }, 3000);
             


             var dataB = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['p',     pb],
              ['q',     pb],
              ['s',     sb],
              ['urms',  urmsb],
              ['itrms', itrmsb],
              ['pf',    pfb],
              ['pg',    pgb],
              ['eq',    eqb]                        
            ]);

            var optionsB = {
              width: 800, height: 240,
              redFrom: 90, redTo: 100,
              yellowFrom:75, yellowTo: 90,
              minorTicks: 5
            };

            var chartB = new google.visualization.Gauge(document.getElementById('chart_div_FB'));

            chartB.draw(dataB, optionsB);

            setInterval(function() {
               dataB.setValue(0, 1, pb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(1, 1, qb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(2, 1, sb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(3, 1, urmsb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(4, 1, itrmsb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(5, 1, pfb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(6, 1, pgb);
               chartB.draw(dataB, optionsB);
             }, 3000);
            setInterval(function() {
               dataB.setValue(7, 1, eqb);
               chartB.draw(dataB, optionsB);
             }, 3000);

            var dataC = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['p',     pc],
              ['q',     qc],
              ['s',     sc],
              ['urms',  urmsc],
              ['itrms', itrmsc],
              ['pf',    pfc],
              ['pg',    pgc],
              ['eq',    0]                        
            ]);

          var optionsC = {
            width: 800, height: 240,
            redFrom: 90, redTo: 100,
            yellowFrom:75, yellowTo: 90,
            minorTicks: 5
          };

          var chartC = new google.visualization.Gauge(document.getElementById('chart_div_FC'));

          chartC.draw(dataC, optionsC);

          setInterval(function() {
               dataC.setValue(0, 1, pc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(1, 1, qc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(2, 1, sc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(3, 1, urmsc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(4, 1, itrmsc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(5, 1, pfc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(6, 1, pgc);
               chartC.draw(dataC, optionsC);
             }, 3000);
          setInterval(function() {
               dataC.setValue(7, 1, eqc);
               chartC.draw(dataC, optionsC);
             }, 3000);
        }            
         </script>        
        
        {% endblock %}
    </head>
    <body>          
        {% block conteudo %}   
        <h2>Geral:</h2> 

        <div id="tables" style="height: 50%; width:50% ;">

        </div>

        <div id="chart_div" style="width: 800px; height: 240px;"></div>

        <h2>Fase A</h2>
        <div id="chart_div_FA" style="width: 800px; height: 240px;"></div>
        <h2>Fase B</h2>
        <div id="chart_div_FB" style="width: 800px; height: 240px;"></div>
        <h2>Fase C</h2>
        <div id="chart_div_FC" style="width: 800px; height: 240px;"></div>
        {% endblock %}
    </body>
</html>








