{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <h1>Níveis de energia</h1>
        <!--<meta http-equiv="refresh" content="5; {% url 'swenergy:niveis' sensor.id %}">-->
        {% endblock %}

        {% block scripts %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        
        {% endblock %}
    </head>
    <body>          
        {% block conteudo %}   
        <h2>Geral:</h2> 

        <h3>{{sensor.time}}</h3>

            {% for fase in sensor.fase_set.all %}
            
            <table>
                <tr>
                    <th colspan="3">Fase {{fase}}</th>
                </tr>
                <tr>            
                    <td>Potência ativa</td> 
                    <td id="p{{fase.id}}">{{fase.p}}</td>
                </tr>
                <tr>
                    <td>Potência reativa</td>
                    <td>{{fase.q}}</td>
                </tr>
                <tr>
                    <td>Potência aparente</td>
                    <td>{{fase.s}}</td>
                </tr>
                <tr>
                    <td>Tensão</td> 
                    <td>{{fase.urms}}</td>
                </tr>
                <tr>
                    <td>Corrente</td>
                    <td>{{fase.itrms}}</td>
                </tr>
                <tr>
                    <td>Fator de potência</td>
                    <td>{{fase.pf}}</td>
                </tr>
                <tr>
                    <td>Ângulo entre a tensão e corrente</td>
                    <td>{{fase.pg}}</td>
                </tr>
                <tr>
                    <td>Consumo de energia ativa</td>
                    <td>{{fase.ep}}</td>
                </tr>
                <tr>
                    <td>Consumo de energia reativa</td>
                    <td>{{fase.eq}}</td>
                </tr>
            <br>
            </table>
            {% endfor %}

        <div id="tables" style="height: 50%; width:50% ;">

        </div>

        <div id="chart_div" style="width: 800px; height: 240px;"></div>

        <h2>Fase A</h2>
        <div id="chart_div_FA" style="width: 800px; height: 240px;">
            <table>
                <tr>
                    <th colspan="3">Fase {{fase}}</th>
                </tr>
                <tr id="tr1">            
                    <td>Potência ativa</td> 
                    <td id="p"></td>
                </tr>
                <tr>
                    <td>Potência reativa</td>
                    <td>{{fase.q}}</td>
                </tr>
                <tr>
                    <td>Potência aparente</td>
                    <td>{{fase.s}}</td>
                </tr>
                <tr>
                    <td>Tensão</td> 
                    <td>{{fase.urms}}</td>
                </tr>
                <tr>
                    <td>Corrente</td>
                    <td>{{fase.itrms}}</td>
                </tr>
                <tr>
                    <td>Fator de potência</td>
                    <td>{{fase.pf}}</td>
                </tr>
                <tr>
                    <td>Ângulo entre a tensão e corrente</td>
                    <td>{{fase.pg}}</td>
                </tr>
                <tr>
                    <td>Consumo de energia ativa</td>
                    <td>{{fase.ep}}</td>
                </tr>
                <tr>
                    <td>Consumo de energia reativa</td>
                    <td>{{fase.eq}}</td>
                </tr>
            <br>
            </table>
        </div>
        <h2>Fase B</h2>
        <div id="chart_div_FB" style="width: 800px; height: 240px;"></div>
        <h2>Fase C</h2>
        <div id="chart_div_FC" style="width: 800px; height: 240px;"></div>
        {% endblock %}
        <script>
            let x = document.getElementById('p');
            x.innerText = "djdj"
            
            console.log(x);
            let td = document.createElement('td');
            td.innerText="isisi"
            let tr = document.getElementById('tr1');
            tr.append(td);
            let s = document.getElementsByTagName('td');
            s[2].innerText = "jdjsa"
        </script>
    </body>
</html>








