{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Detalhes do Sensor</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    {% block main-menu %}
    {% endblock %}
    {% block conteudo %}
    <h3>Relatório de Consumo - {{data}}</h3>
    <hr>
    {% for sensor in sensores %}
        <fieldset style="width: 60%;">
        
        <h3>Sensor: {{sensor.titulo}}</h3>
        <ul>
            <li>Potência ativa total: {{sensor.pt}}</li>
            <li>Potência reativa total: {{sensor.qt}}</li>
            <li>Potência aparente total: {{sensor.st}}</li>
            <li>Corrente total: {{sensor.itrms}}</li>
            <li>Fator de potência total: {{sensor.pft}}</li>
            <li>Frequência: {{sensor.freq}}</li>
            <li>Consumo de energia ativa total: {{sensor.ept}}</li>
            <li>Consumo de energia reativa total: {{sensor.eqt}}</li>
            <li>Ângulo entre Tensão Fase A e Fase B: {{sensor.yuaub}}</li>
            <li>Ângulo entre Tensão Fase B e Fase C: {{sensor.yuauc}}</li>
            <li>Ângulo entre Tensão Fase B e Fase C: {{sensor.yubuc}}</li>
            <li>Temperatura: {{sensor.tpsd }}</li>
        </ul>
        {% for fase in sensor.fase_set.all %}
        
        <h3>Fase {{fase}}</h3>
        <ul>            
            <li>Potência ativa: {{fase.p}}</li>
            <li>Potência reativa: {{fase.q}}</li>
            <li>Potência aparente: {{fase.s}}</li>
            <li>Tensão: {{fase.urms}}</li>
            <li>Corrente: {{fase.itrms}}</li>
            <li>Fator de potência: {{fase.pf}}</li>
            <li>Ângulo entre a tensão e corrente: {{fase.pg}}</li>
            <li>Consumo de energia ativa: {{fase.ep}}</li>
            <li>Consumo de energia reativa: {{fase.eq}}</li>
        </ul><br>
    
        {% endfor %}
        <br>
        <strong> Consumos diários:</strong>
        <br><br>
        {% for consumo in sensor.consumo_set.all %}
        <strong>Data:</strong> {{consumo.data.day}} / {{consumo.data.month}} / {{consumo.data.year}} <br>
        <strong>Consumo total:</strong> {{consumo.total}}<br><br>
        {% endfor %}
        </fieldset>
    </section>
    <hr>
    {% endfor %}
    {% endblock %}
    
</body>
</html>