{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Relatório</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    {% block main-menu %}
    {% endblock %}
    {% block conteudo %}
    <h3>Relatório de Consumo - {{data}}</h3>
    <hr>

    <div class="card w-75" style="padding: 2%">
        <div class="card-body">
          <h2 class="card-title">{{predio.nome}}</h2>
          
            <div class="d-flex" style="padding: 5%;">
                
                <div>
                    <h5 class="card-title">Dados gerais</h5>
                    <p class="card-text" >
                        <sapn>Meta: {{predio.meta}}</sapn><br>
                        <sapn>População: {{predio.populacao}}</sapn><br>
                        <sapn>Pavimentos: {{predio.pavimentos}}</sapn><br>
                        <sapn>Pot. Inst.: {{predio.PotInst}}</sapn><br>
                        <sapn>Geração F.V.: {{predio.geracaoFV}}</sapn><br>
                        <sapn>Idade: {{predio.idade}}</sapn><br>
                    </p>
                </div>
                

                <div style="margin-left:10%;">
                    <h5 class="card-title">Nível de eficiência-RTQ-C</h5>
                    <ul>
                        <li class="d-flex justify-content-between align-items-center">Sistema <span class="badge badge-primary ">Nota</span></li>
                        <li class="d-flex justify-content-between align-items-center">Iluminação
                        {% if predio.Iluminacao == "A" %}
                        <span class="badge badge-sucess ">{{predio.Iluminacao}}</span></li>
                        {% elif predio.Iluminacao == "B" %}
                        <span class="badge badge-warning ">{{predio.Iluminacao}}</span></li>
                        {% else %}
                        <span class="badge badge-danger ">{{predio.Iluminacao}}</span></li>
                        {% endif %}

                        <li class="d-flex justify-content-between align-items-center">Condicion. de ar 
                        {% if predio.CondAr == "A" %}
                        <span class="badge badge-sucess ">{{predio.CondAr}}</span></li>
                        {% elif predio.CondAr == "B" %}
                        <span class="badge badge-warning ">{{predio.CondAr}}</span></li>
                        {% else %}
                        <span class="badge badge-danger ">{{predio.CondAr}}</span></li>
                        {% endif %}         

                        <li class="d-flex justify-content-between align-items-center">Envoltória
                        {% if predio.envoltoria == "A" %}
                        <span class="badge badge-sucess ">{{predio.envoltoria}}</span></li>
                        {% elif predio.envoltoria == "B" %}
                        <span class="badge badge-warning ">{{predio.envoltoria}}</span></li>
                        {% else %}
                        <span class="badge badge-danger ">{{predio.envoltoria}}</span></li>
                        {% endif %}
                        </li>
                    </ul>
                </div>
          </div>
        </div>
      </div>
      <hr><br>

      <div style="min-width: 900px; min-height: 400px;">
        <label for="contas"> 
            <h5>Contas de Energia</h5>
        </label>
        <table class="table table-sm" name="contas">
            <thead>
              <tr>                
                <th style="padding-left: -110px;">Mês</th>
                <th style="padding-left: -110px;">Kwh</th>
                <th style="padding-left: -110px;">Custo</th>
              </tr>
            </thead>
            <tbody>
                {% for sensor in predio.sensor_set.all %}
                  {% for consumo in sensor.consumo_set.all %}
                    {% if consumo.tipo == "mensal" %}                
                    <tr>
                        <td>{{consumo.data}}</td>
                        <td>{{consumo.total}}</td>
                        <td>{{consumo.custo.FP}}</td>
                      </tr>
                    {% endif %}
                  {%endfor%}     
                {%endfor%}                                 
            </tbody>
          </table>
    </div>
    <hr><br>

    {% for sensor in predio.sensor_set.all %}
        <fieldset style="width: 60%;">
        
        <h3>Sensor: {{sensor.titulo}}</h3>
        <ul>
            <li>Potência ativa total: {{sensor.pt}}</li>
            <li>Potência reativa total: {{sensor.qt}}</li>
            <li>Potência aparente total: {{sensor.st}}</li>
            <li>Corrente total: {{sensor.itrms}}</li>
            <li>Fator de potência total: {{sensor.pft}}</li>
            <li>Frequência: {{sensor.freq}}</li>
            <li>Consumo de energia ativa total: {{sensor.ept}}</li>
            <li>Consumo de energia reativa total: {{sensor.eqt}}</li>
            <li>Ângulo entre Tensão Fase A e Fase B: {{sensor.yuaub}}</li>
            <li>Ângulo entre Tensão Fase B e Fase C: {{sensor.yuauc}}</li>
            <li>Ângulo entre Tensão Fase B e Fase C: {{sensor.yubuc}}</li>
            <li>Temperatura: {{sensor.tpsd }}</li>
        </ul>
        {% for fase in sensor.fase_set.all %}
        
        <h3>Fase {{fase}}</h3>
        <ul>            
            <li>Potência ativa: {{fase.p}}</li>
            <li>Potência reativa: {{fase.q}}</li>
            <li>Potência aparente: {{fase.s}}</li>
            <li>Tensão: {{fase.urms}}</li>
            <li>Corrente: {{fase.itrms}}</li>
            <li>Fator de potência: {{fase.pf}}</li>
            <li>Ângulo entre a tensão e corrente: {{fase.pg}}</li>
            <li>Consumo de energia ativa: {{fase.ep}}</li>
            <li>Consumo de energia reativa: {{fase.eq}}</li>
        </ul><br>
    
        {% endfor %}
        <br>
        <div style="display: flex;">
            <div>
                <strong> Consumos diários:</strong>
                <br><br>
                {% for consumo in sensor.consumo_set.all %}
                {% if consumo.tipo == "diario" %}
                <strong>Data:</strong> {{consumo.data.day}} / {{consumo.data.month}} / {{consumo.data.year}} <br>
                <strong>Consumo total:</strong> {{consumo.total}}<br><br>
                {%endif%}
                {% endfor %}
                <br>
            </div>
            <div>
                <strong> Consumos mensais:</strong>
                <br><br>
                {% for consumo in sensor.consumo_set.all %}
                {% if consumo.tipo == "mensal" %}
                <strong>Data:</strong> {{consumo.data.day}} / {{consumo.data.month}} / {{consumo.data.year}} <br>
                <strong>Consumo total:</strong> {{consumo.total}}<br><br>
                {%endif%}
                {% endfor %}
            </div>
        </div>
        </fieldset>
    </section>
    <hr>
    {% endfor %}
    {% endblock %}
    
</body>
</html>