{% extends "swenergy/base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>Detalhes do Sensor</title>
    <meta charset="UTF-8">
    {% endblock %}
</head>
<body>
    {% block main-menu %}
    {% endblock %}
    {% block conteudo %}
    {% for sensor in sensores %}
        <fieldset style="width: 60%;">
        
        <h2>{{sensor.titulo}}</h2>
        
        {% for fase in sensor.fase_set.all %}
        <h3>Fase {{fase}}</h3> 
        {% endfor %}

        Consumos diários:
        <br><br>
        {% for consumo in sensor.consumo_set.all %}
        <strong>Data:</strong> {{consumo.data}} <br><strong>Consumo total:</strong> {{consumo.total}}<br><br>
        {% endfor %}
        </fieldset>
    </section>
    {% endfor %}
    {% endblock %}
    
</body>
</html>